name: Go Release
on:
  release:
    types: [ published ]
permissions:
  contents: write

jobs:
  release:
    strategy:
      matrix:
        target_os: [ linux, darwin, windows ]
        target_arch: [ amd64, arm64 ]
      fail-fast: false
    uses: Siroshun09/gh-actions-workflows/.github/workflows/go-release.yml@v1
    with:
      target-os: ${{ matrix.target_os }}
      target-arch: ${{ matrix.target_arch }}
      go-filepath: "./cmd/dljdk/main.go"
      binary-name: dljdk
      tag-name: ${{ github.event.release.tag_name }}
